/.idea/.idea.AAC_Graph/.idea/
/packages/
AAC_Graph/AAC_GraphColoring/obj/Release/
/AAC_GraphColoring/bin/
/GraphTests/bin
/AAC_Graph.sln.DotSettings.user
/GraphTests/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/GraphTests/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/GraphTests/bin/Debug/AAC_GraphColoring.exe
/GraphTests/bin/Debug/AAC_GraphColoring.exe.config
/GraphTests/bin/Debug/AAC_GraphColoring.pdb
/GraphTests/Properties/AssemblyInfo.cs
/GraphTests/bin/Debug/BenchmarkDotNet.Annotations.dll
/GraphTests/bin/Debug/BenchmarkDotNet.Annotations.xml
/GraphTests/bin/Debug/BenchmarkDotNet.dll
/GraphTests/bin/Debug/BenchmarkDotNet.xml
/GraphTests/bin/Debug/CommandLine.dll
/GraphTests/bin/Debug/CommandLine.xml
/GraphTests/bin/Debug/Dia2Lib.dll
/GraphTests/GraphTests.csproj
/GraphTests/obj/Debug/GraphTests.csproj.CopyComplete
/GraphTests/obj/Debug/GraphTests.csproj.CoreCompileInputs.cache
/GraphTests/obj/Release/GraphTests.csproj.CoreCompileInputs.cache
/GraphTests/obj/Debug/GraphTests.csproj.FileListAbsolute.txt
/GraphTests/obj/Release/GraphTests.csproj.FileListAbsolute.txt
/GraphTests/obj/Debug/GraphTests.csprojAssemblyReference.cache
/GraphTests/obj/Release/GraphTests.csprojAssemblyReference.cache
/GraphTests/bin/Debug/GraphTests.dll
/GraphTests/obj/Debug/GraphTests.dll
/GraphTests/bin/Debug/GraphTests.pdb
/GraphTests/obj/Debug/GraphTests.pdb
/GraphTests/bin/Debug/Iced.dll
/GraphTests/bin/Debug/Iced.xml
/GraphTests/bin/Debug/ФайлыВвода_Вывода/Input.txt
/GraphTests/bin/Debug/amd64/KernelTraceControl.dll
/GraphTests/bin/Debug/x86/KernelTraceControl.dll
/GraphTests/bin/Debug/x86/KernelTraceControl.Win61.dll
/GraphTests/bin/Debug/Microsoft.CodeAnalysis.CSharp.dll
/GraphTests/bin/Debug/Microsoft.CodeAnalysis.CSharp.pdb
/GraphTests/bin/Debug/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/GraphTests/bin/Debug/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/GraphTests/bin/Debug/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/GraphTests/bin/Debug/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/GraphTests/bin/Debug/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/GraphTests/bin/Debug/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/GraphTests/bin/Debug/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/GraphTests/bin/Debug/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/GraphTests/bin/Debug/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/GraphTests/bin/Debug/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/GraphTests/bin/Debug/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/GraphTests/bin/Debug/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/GraphTests/bin/Debug/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/GraphTests/bin/Debug/Microsoft.CodeAnalysis.CSharp.xml
/GraphTests/bin/Debug/Microsoft.CodeAnalysis.dll
/GraphTests/bin/Debug/Microsoft.CodeAnalysis.pdb
/GraphTests/bin/Debug/cs/Microsoft.CodeAnalysis.resources.dll
/GraphTests/bin/Debug/de/Microsoft.CodeAnalysis.resources.dll
/GraphTests/bin/Debug/es/Microsoft.CodeAnalysis.resources.dll
/GraphTests/bin/Debug/fr/Microsoft.CodeAnalysis.resources.dll
/GraphTests/bin/Debug/it/Microsoft.CodeAnalysis.resources.dll
/GraphTests/bin/Debug/ja/Microsoft.CodeAnalysis.resources.dll
/GraphTests/bin/Debug/ko/Microsoft.CodeAnalysis.resources.dll
/GraphTests/bin/Debug/pl/Microsoft.CodeAnalysis.resources.dll
/GraphTests/bin/Debug/pt-BR/Microsoft.CodeAnalysis.resources.dll
/GraphTests/bin/Debug/ru/Microsoft.CodeAnalysis.resources.dll
/GraphTests/bin/Debug/tr/Microsoft.CodeAnalysis.resources.dll
/GraphTests/bin/Debug/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/GraphTests/bin/Debug/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/GraphTests/bin/Debug/Microsoft.CodeAnalysis.xml
/GraphTests/bin/Debug/Microsoft.Diagnostics.FastSerialization.dll
/GraphTests/bin/Debug/Microsoft.Diagnostics.FastSerialization.xml
/GraphTests/bin/Debug/Microsoft.Diagnostics.NETCore.Client.dll
/GraphTests/bin/Debug/Microsoft.Diagnostics.NETCore.Client.xml
/GraphTests/bin/Debug/Microsoft.Diagnostics.Runtime.dll
/GraphTests/bin/Debug/Microsoft.Diagnostics.Runtime.pdb
/GraphTests/bin/Debug/Microsoft.Diagnostics.Runtime.xml
/GraphTests/bin/Debug/Microsoft.Diagnostics.Tracing.TraceEvent.dll
/GraphTests/bin/Debug/Microsoft.Diagnostics.Tracing.TraceEvent.xml
/GraphTests/bin/Debug/Microsoft.DotNet.PlatformAbstractions.dll
/GraphTests/bin/Debug/Microsoft.Win32.Registry.dll
/GraphTests/bin/Debug/amd64/msdia140.dll
/GraphTests/bin/Debug/x86/msdia140.dll
/GraphTests/bin/Debug/nunit.framework.dll
/GraphTests/bin/Debug/nunit.framework.xml
/GraphTests/bin/Debug/OSExtensions.dll
/GraphTests/bin/Debug/ФайлыВвода_Вывода/Output.txt
/GraphTests/packages.config
/GraphTests/bin/Debug/Perfolizer.dll
/GraphTests/bin/Debug/System.Buffers.dll
/GraphTests/bin/Debug/System.Buffers.xml
/GraphTests/bin/Debug/System.Collections.Immutable.dll
/GraphTests/bin/Debug/System.Collections.Immutable.xml
/GraphTests/bin/Debug/System.Memory.dll
/GraphTests/bin/Debug/System.Memory.xml
/GraphTests/bin/Debug/System.Numerics.Vectors.dll
/GraphTests/bin/Debug/System.Numerics.Vectors.xml
/GraphTests/bin/Debug/System.Reflection.Metadata.dll
/GraphTests/bin/Debug/System.Reflection.Metadata.xml
/GraphTests/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
/GraphTests/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
/GraphTests/bin/Debug/System.Text.Encoding.CodePages.dll
/GraphTests/bin/Debug/System.Threading.Tasks.Extensions.dll
/GraphTests/bin/Debug/System.Threading.Tasks.Extensions.xml
/GraphTests/Tests.cs
/GraphTests/bin/Debug/TraceReloggerLib.dll
/AAC_GraphColoring/obj/Release/AAC_GraphColoring.csproj.CoreCompileInputs.cache
/AAC_GraphColoring/obj/Release/AAC_GraphColoring.csprojAssemblyReference.cache
/AAC_GraphColoring/obj/Release/AAC_GraphColoring.exe
/AAC_GraphColoring/obj/Release/AAC_GraphColoring.pdb
/AAC_GraphColoring/obj/Release/AAC_GraphColoring.csproj.CopyComplete
/AAC_GraphColoring/obj/Release/AAC_GraphColoring.csproj.FileListAbsolute.txt
/AAC_GraphColoring/obj/Release/AAC_GraphColoring.exe.config
/AAC_GraphColoring/obj/Debug/AAC_GraphColoring.csproj.CopyComplete
/AAC_GraphColoring/obj/Debug/AAC_GraphColoring.csproj.CoreCompileInputs.cache
/AAC_GraphColoring/obj/Debug/AAC_GraphColoring.csprojAssemblyReference.cache
/AAC_GraphColoring/obj/Debug/AAC_GraphColoring.exe
/AAC_GraphColoring/obj/Debug/AAC_GraphColoring.exe.config
/AAC_GraphColoring/obj/Debug/AAC_GraphColoring.pdb
